body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 10px;
}
p {
    margin: 0px;
}
a:link,
a:visited {
    color: #1b6d85;
    text-decoration: none;
}
a:hover,
a:active,
a.active {
    text-decoration: underline;
}
.image {
    max-width:100%;
    height:auto;
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 20px 0px;
}
ul {
    margin: 0px 0px 18px 0px;
}
blockquote {
    background-color: #e5e4fe;
    margin: 0px 0px 18px 0px;
    padding: 10px;
}
pre {
    color: #BABABA;
    background: #2B2B2B none repeat scroll 0% 0%;
    padding: 10px;
    margin: 0px 0px 18px 0px;
}
code {
    padding: 0px;
    display: block;
    padding: 2px 0px 2px 10px;
    margin: 0px;
    border-left: 3px solid #D5C5CA;
    border-radius: 0px;
    color: #c7254e;
    background-color: #f9f2f4;
}
q {
    display: block;
    color: #858D93;
    padding: 2px 0px 2px 10px;
    margin: 0px;
    border-left: 3px solid #C5D0D8;
    background-color: #F8F8F8;
    border-radius: 0px;
}