.tooltip {
    z-index: 2500;
}
.colorpicker-2x .colorpicker-saturation { 
    width: 200px; 
    height: 200px; 
} 
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha { 
    width: 30px; 
    height: 200px;
} 
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div { 
    height: 30px; 
}
.colorpicker-child.colorpicker::before,
.colorpicker-child.colorpicker::after,
.colorpicker-child.colorpicker-right::before,
.colorpicker-child.colorpicker-right::after {
    border: none;
}
.designer_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2498;
}
.designer_colorpicker {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ffffff;
    background: #005599 url(../../images/designer/colorpicker.jpg);
    z-index: 2499;
    cursor: pointer;
    animation: colorpicker 20s linear infinite;
}
.designer_gradientpicker {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0099ed;
    background: #005599 url(../../images/designer/gradientpicker.jpg);
    z-index: 2499;
    cursor: pointer;
    animation: colorpicker 20s linear infinite;
}
.designer_gradientpicker_hidden {
    visibility: hidden;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    z-index: 2499;
    animation: colorpicker 20s linear infinite;
}
.designer_imagepicker {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0099ed;
    background: #005599 url(../../images/designer/imagepicker.jpg);
    z-index: 2499;
    cursor: pointer;
    animation: colorpicker 20s linear infinite;
}
.designer_patternpicker {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0099ed;
    background: #005599 url(../../images/designer/patternpicker.jpg);
    z-index: 2499;
    cursor: pointer;
    animation: colorpicker 20s linear infinite;
}
.designer_fontpicker {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ffffff;
    background: #005599 url(../../images/designer/fontpicker.jpg);
    z-index: 2499;
    cursor: default;
    animation: colorpicker 20s linear infinite;
}
.designer_fontpicker_sign {
    display: none;
    position: absolute;
    font-size: 14px;
    color: #fff;
    border-radius: 7px;
    background-color: #777777;
    box-shadow: 0px 0px 10px #ffffff;
    z-index: 2499;
    cursor: pointer;
}

@keyframes colorpicker {
  0% { 
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  },
  50% { 
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  },
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
