html, body {
    width: 100%;
}
body, header {
    transition: background-position 0ms;
}
a.label:link, a.label:visited, a.label:hover {
    color: #fff;
}
article .article.parse-content {
    overflow-x: hidden;
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px;
    background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
}
select.form-control option {
    padding: 5px 20px;
}
.form-panel {
    margin: 20px 0px;
}
.form-alert {
    margin-top: 20px;
}
.captcha-image-wrapper {
    margin-bottom: 10px;
}
.captcha-image-wrapper img {
    border: 1px solid #CCC;
    border-radius: 4px;
}
.form-file-button {
    position: relative;
    overflow: hidden;
}
.form-file-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    display: block;
    cursor: pointer;
}
.form-file-button-text {
    padding: 0px 10px;
}
.form-horizontal .checkbox-float {
    padding-top: 4px;
}
.modal-error {
    color: #591053;
}
.modal-success {
    color: #073954;
}
.modal-body {
    word-wrap: break-word;
}
.modal-content {
    color: #333;
}
.error-page {
    margin-top: 40px;
}
.error-page h1 {
    display: inline-block;
}
span.required {
    color: red;
}
.form-field-error {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(233, 139, 102, 0.6);
}
dl.user-info {
    display: block;
    overflow: hidden;
}
dl.user-info dt {
    float: left;
    margin-right: 10px;
}
img.user-photo {
    width: 25px;
    height: 25px;
    border: none;
}
img.user-photo-mid {
    width: 50px;
    height: 50px;
    border: none;
}
img.user-photo-big {
    width: 100px;
    height: 100px;
    border: none;
}
.clear {
    clear: both;
}
.zira-autocomplete-wnd {
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #CCCCCC;
    overflow: hidden;
}
.zira-autocomplete-wnd li {
    margin: 0px;
    padding: 0px;
}
.zira-autocomplete-wnd li a:link,
.zira-autocomplete-wnd li a:visited {
    display: block;
    min-width: 200px;
    font-size: 14px;
    color: #333;
    margin: 0px;
    padding: 4px 14px;
    border-top: 1px solid #efefef;
    text-decoration: none;
}
.zira-autocomplete-wnd li:first-child a {
    border-top: none;
}
.zira-autocomplete-wnd li a:hover,
.zira-autocomplete-wnd li a.active {
    color: #000;
    background-color: #efefef;
    text-decoration: none;
}
.form-group .zira_form_compose_remove_recipient_input {
    display: none;
    position: absolute;
    right: 24px;
    top: 8px;
}
.form-group-added .zira_form_compose_remove_recipient_input {
    display: block;
}
.emoji {
    vertical-align: middle;
}
.image {
    max-width: 100%;
    height: auto;
}
.external-image {
    max-width: 100%;
    height: auto;
}
.parse-content .external-image {
    margin-bottom: 10px;
}
.progress-bar {
    transition: none;
}
textarea {
    resize: vertical;
}
.zira-calendar-wrapper .zira-calendar-selector {
    text-align: center;
    margin-bottom: 10px;
}
.zira-calendar-wrapper .zira-calendar-prev-month {
    float: left;
    margin-left: 8px;
}
.zira-calendar-wrapper .zira-calendar-next-month {
    float: right;
    margin-right: 8px;
}
.zira-calendar-wrapper .zira-calendar-dows-wrapper,
.zira-calendar-wrapper .zira-calendar-days-wrapper {
    padding: 0px 16px;
}
.zira-calendar-wrapper .zira-calendar-month {
    font-weight: bold;
}
.sidebar.col-sm-2 .zira-calendar-wrapper .zira-calendar-dows-wrapper,
.sidebar.col-sm-2 .zira-calendar-wrapper .zira-calendar-days-wrapper {
    padding: 0px;
    font-size: 90%;
}
.zira-calendar-wrapper .zira-calendar-dows,
.zira-calendar-wrapper .zira-calendar-days {
    width: 100%;
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
.zira-calendar-wrapper .zira-calendar-dows li,
.zira-calendar-wrapper .zira-calendar-days li {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    padding: 6px 2px;
    text-align: center;
}
.zira-calendar-wrapper .zira-calendar-days li.prev-days .zira-calendar-day,
.zira-calendar-wrapper .zira-calendar-days li.next-days .zira-calendar-day {
    color: #aaa;
}
.zira-calendar-wrapper .zira-calendar-days li.today {
    background: #9e9e9e;
    background: rgba(45, 45, 45, .2);
    border-radius: 30px;
}
.list .list-info-wrapper .list-info {
    white-space: nowrap;
}
.pagination > li > a,
.pagination > li > span {
    padding: 6px 10px;
}
#zira-auth-dialog form label {
    font-weight: normal;
}
#zira-auth-dialog .form-alert {
    margin-top: 0;
}
#zira-auth-dialog a {
    color: #073954;
}
.zira_bottom_counter {
    text-align: right;
    font-style: italic;
    font-size: 90%;
    margin: 20px 10px 30px;
}
.record_preview_block {
    width: 100%;
    text-align: left;
    padding: 10px 14px;
    font-size: 90%;
    overflow: hidden;
}
.record_preview_block label {
    display: block;
    float: left;
    width: 110px;
}
.record_preview_block span {
    display: block;
    margin-left: 120px;
}
.sidebar .record_preview_block {
    padding: 10px 5px;
}
.fullscreen-slider .slider-wrapper {
    position: relative;
    z-index: 5;
    height: 100%;
    background-color: #070D11;
}
.fullscreen-slider .slider-wrapper .slider {
    display: none;
}
.carousel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.carousel li {
    display: inline-block;
    margin: 0;
}
.carousel li a {
    margin: 0;
    padding: 0;
}
.carousel .image {
    margin: 0px 0px;
}
.carousel .slick-arrow {
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.sidebar .carousel-wrapper.with-title .carousel {
    margin: 10px 0px 0px;
}

@keyframes loader {
  0% { 
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
  50% { 
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes ziraFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ziraSlide {
    from {
        margin-top: -30px;
    }
    to {
        margin-top: 0;
    }
}