.record_fields_tabs_wrapper {
    margin: 30px 0px 20px;
    font-size: 90%;
}
.sidebar .record_fields_tabs_wrapper {
    margin-top: 0;
}
.record_fields_tabs_wrapper .tab-content {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.record_fields_tabs_wrapper .tab-content .dl {
    overflow: hidden;
    padding: 20px;
}
.record_fields_tabs_wrapper .tab-content .dl.even {
    background: #f9f9f9;
}
.record_fields_tabs_wrapper .tab-content .dt {
    float: left;
    width: 150px;
    font-weight: bold;
    word-wrap: break-word;
}
.sidebar .record_fields_tabs_wrapper .tab-content .dt {
    width: 100px;
}
.record_fields_tabs_wrapper .tab-content .dd {
    margin-left: 160px;
    word-wrap: break-word;
}
.sidebar .record_fields_tabs_wrapper .tab-content .dd {
    margin-left: 110px;
}
.record_fields_tabs_wrapper .tab-content .dd ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.record_fields_tabs_wrapper .tab-content .dd ul.options li::before {
    content: '\2022';
    margin-right: 4px;
}
.record_fields_tabs_wrapper .tab-content .dd ul.fields-files,
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images {
    list-style-type: none;
}
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images li {
    display: block;
    float: left;
    margin: 0px 2px 2px 0px;
}
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images li a:link,
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images li a:visited {
    display: block;
    text-decoration: none;
    border: 1px solid #ddd;
}
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images li a:hover {
    border: 1px solid #6666ff;
}
.record_fields_tabs_wrapper .tab-content .dd ul.fields-images li a img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto;
}

@media (max-width: 479px) {
    .record_fields_tabs_wrapper .tab-content .dt {
        float: none;
    }
    .record_fields_tabs_wrapper .tab-content .dd {
        margin-left: 0;
        margin-top: 10px;
    }
}