.widget-chat-wrapper {
    visibility: hidden;
    margin-bottom: 20px;
}
.widget-chat-wrapper .form-horizontal .control-label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: normal;
}
.widget-chat-wrapper .widget-chat-messages {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 14px 0px;
    padding: 0px 4px;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-wrapper {
    margin-bottom: 14px;
    overflow: hidden;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-avatar {
    width: 40px;
    height: auto;
    border-radius: 20px;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-image {
    display: block;
    float: left;
    width: 50px;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-author {
    margin-left: 60px;
    font-weight: bold;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-text {
    margin-left: 60px;
    font-style: italic;
    margin-bottom: 0;
}
.widget-chat-wrapper .widget-chat-messages .chat-message-date {
    margin-left: 60px;
    font-style: italic;
    margin-bottom: 0;
    font-size: 80%;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar-button {
    background-color: transparent;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
}
.widget-chat-wrapper .widget-chat-messages::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,.1);
}
.widget-chat-wrapper .widget-chat-messages::-webkit-resizer {
    background-color: rgba(0,0,0,.1);
}
.widget-chat-wrapper .chat-info {
    margin: 0;
    border-radius: 0;
    padding: 10px;
}